.header{
	background-color: black;
	height: 90px;
	color:white;
}

html, body{
	margin: 0;
	padding: 0;
	zoom:100%;
}

.img{
	float: left;
	padding: 3px 30px;
	margin: 0;
}

.clear{
	clear: both;
}

 .title{
	font-size:36px;
	font-weight: bold;
	padding: 25px;
	margin: 0;
}

.text{
	text-align: center;
}


.form{
	padding: 10px;

}

 .input{
	height: 57px;
	width: 520px;
	border-radius: 20px;
	padding: 10px;

}



footer{
	height: 50px;
	color:white;
	background-color: black;
	margin: 0;
	padding: 0;
	position: absolute;
	min-width: 100%;
	bottom: 0;
}

.footer{
	padding: 15px;
	margin: 0;
}

select{
	width: 520px;
	height: 57px;
	border-radius: 20px;
	padding: 5px;
	border-width: 2px;
	


}


